.contact_form {
  .form-row {
    display: block;
  }

  input,
  textarea {
    width: 100%;
  }
}

span .wpcf7-not-valid {
  border: 1px solid #ff0000 !important;
}

span.wpcf7-not-valid-tip {
  display: none;
}

div.wpcf7-validation-errors {
  display: none !important;
}

div.wpcf7-response-output {
  margin: 15px 0;
  padding: 19px 25px;
  font-weight: 100;
  line-height: normal;
}